/* home.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/static/images/bg.png");
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: fixed;
}

.login {
    background-color: #ffffff;
    color: #333;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-width: 90%;
    margin-top: 300px;
    /* display: none; */
}

h1 {
    text-align: center;
    font-size: 1.8rem;
    color: #2575fc;
    margin-bottom: 1.5rem;
}

h2 {
    text-align: center;
    color: #333;
    font-size: 1.2rem;
    margin-top: 1rem;
}

form legend {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
    color: #2575fc;
}

.mb-3 {
    margin-bottom: 1rem;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

select.form-control,
input.form-control {
    background-color: #f9f9f9;
}

select.form-control:focus,
input.form-control:focus {
    border-color: #2575fc;
    outline: none;
    box-shadow: 0px 0px 4px rgba(37, 117, 252, 0.5);
}

.btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    background-color: #2575fc;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #1a5dc1;
}

.placeholder {
    color: #888;
}

